
// Body
$body-bg: #ebeff1;

$red : #d31109;
$red-light : #ac5744;
$red-pastel : #fd2e3a;
$gris-sombre : #31383A;
$gris-moyen : #465153;
$gris-clair : #A5A5A5;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #17A096;
$brand-dark : #202e3a;
$link : #1065ad;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;


// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Admin

$bg-admin : #2C3D4F;

// Fonts
$open : 'Open Sans', sans-serif;
$raleway :  'Raleway', sans-serif;
