// Variables
@import "variables";

body {
  font-family: $open;
}
.menu {
  background: $bg-admin;
  margin: 0rem;
  padding:1rem;
  color:$body-bg;
}

.menu a {
  color:white;
}
.navbar {
  margin-bottom: 0px;
}
.panel-heading{
  font-family: $raleway;
  font-weight: bold;
}

footer.footer{
  background-color: $gris-sombre;
  position: relative;
  margin-top: -1px;
}

svg:not(:root) {
  overflow: hidden;
  display: block;
}

#bigHalfCircle path {
  fill: $gris-sombre;
  stroke: $body-bg;
}
.is_hidden {
  display: none;
  opacity: 0.4;
}
a.go-top {
  display: block;
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 99;
  background: $gris-sombre;
  padding: 0.75rem;
  border-radius: 15px;
  font-size: small;
  color: white;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}
a.go-top:hover {
  opacity: 1;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.stuck {
  position:fixed;
  top:0;
}

img.img_logo{
  max-height: 5rem !important;
  position: absolute;
  top: 1.1rem;
}

.espace_top_logo {
  padding-top: 5rem;
}

.nav {
  border-bottom: 1px solid rgba(121, 121, 121, 0.85);
}

@media screen and (max-width: 768px) {
  img.img_logo{
    position: relative;
    /*top: 1.1rem;*/
    /*  max-height: 5rem !important;*/
  }
  .nav-left{
    display: none;
  }
}
